@use "./variables.scss" as *;

.Container {
   display: flex;
   align-items: flex-start;
   gap: $fs-450;
   background-color: $text-secondary;
   padding: 22px 20px;
   &__left {
      width: 48px; /* Set the width of your image containers */
      height: 48px; /* Set the height of your image containers */
      border-radius: 50%;
      border: 2px solid $text-secondary;
      overflow: hidden;
      flex-shrink: 0;
      img {
         width: 100%; /* Make the image fill the container horizontally */
         height: auto; /* Maintain the image's aspect ratio */
         object-fit: cover; /* Scale the image while preserving its aspect ratio */
      }
   }
   &__middle {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 9px;
      flex: 1;

      & > p {
         text-wrap: wrap;
         white-space: normal; // to wrap text on safari
      }

      &__top {
         font-size: $fs-350;
         display: flex;
         justify-content: space-between;
         &__creator_name {
            font-weight: $fw-bold;
         }
         &__at_and_time {
            color: $clr-accent-4;
         }
      }

      &__bottom {
         & > * {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $clr-accent-4;
            font-weight: $fw-semi-semi-bold;
            font-size: 1rem;
         }
         &__icon {
            height: 1rem;
            & > img {
               width: 100%;
               height: 100%;
            }
         }
         & * {
            cursor: pointer;
         }
      }

      & > img {
         border-radius: 10px;

         height: 600px;
      }

      & img {
         width: 100%;
         object-fit: cover;
      }
      &__bottom {
         display: flex;
         justify-content: space-between;
      }
   }
}
